.listItem {
  display: flex;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  background-color: var(--green);
  cursor: pointer;
}

.icon {
  margin-right: 0.5rem;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}
